*{
	margin:0;
	padding: 0;
}
/*video container*/
.videoContainer{
	margin:0px auto;
	position: relative;
	background: #000;
	color: #ccc;
}

/*video caption css*/
.caption{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color:#ccc;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #1F1F1F;
	opacity: 0.6;
    background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);	
}

/*VIDEO CONTROLS CSS*/

/*control holder*/
.control{
	background: rgba(0,0,0,0.4);
	color: #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index:5;
	display: none;
}
/*control top part*/
.topControl{
	height: 11px;
	border-bottom: 1px solid #404040;
}

/*control bottom part*/
.btmControl{
	clear:both;
	height:42px;
}

.control div.btn{
	float: left;
	width: 60px;
	height: 40px;
	border-right: solid 1px #161615;
	border-left:solid 1px #2a2b2a;
	cursor: pointer;
}

.control div.btnPlay{
	width: 40px;
	padding:0 20px;
	background: url(../images/start.png) no-repeat top center;
	
}
.control div.paused{
	background: url(../images/start.png) no-repeat 20px -40px;
}
.control div.btnStop{
	background: url(../images/control.png) no-repeat 0 -60px;
}
.btnSound{
	position: relative;
	cursor: pointer;
	width: 60px;
	height: 40px;
	float: left;
	margin: 0px;
}
.control div.sound{
	background: url(../images/volume.png) no-repeat 0px -120px;
	border-left: solid 1px #686262;
	float: right;
}
.control div.sound1{
	background: url(../images/volume.png) no-repeat 0px -80px !important;
}
.control div.sound2{
	background: url(../images/volume.png) no-repeat 0px -40px !important;
}
.control div.sound3{
	background: url(../images/volume.png) no-repeat 0px 0px !important;
}
.control div.muted{
	background: url(../images/volume.png) no-repeat 0px -120px !important;
}
.control div.btnFS{
	background: url(../images/full.png) no-repeat center center;
	float: right;
}
.control div.btnLight{
	float: right;
	position: relative;
	width: 40px;
	height: 20px;
	margin:10px 9px;
	background: gray;
	border-radius: 4px;
	border:solid 1px #FFF;
	-webkit-transition:all  1s;
	transition:all 1s;
}
.light_btn{
	width: 20px;
	height: 18px;
	background: #FFF;
	border-radius: 4px;
	position: absolute;
	top:1px;
	left:1px;
	-webkit-transition:all  1s;
	transition:all 1s;
}
.control div.lighton{
	background: #3FB7FC;
}
.control div.lighton .light_btn{
	top:1px;
	left:19px;
}

.control div.btnLoop{
	float: right;
	width: 40px;
	background: url(../images/loop.png) 0 0;
}
.control div.btnLoop:hover{
	background: url(../images/loop.png) 0 -40px;
}
.control div.loopon{
	background: url(../images/loop.png) 0 -40px;
}
.control div.img_btn{
	float: right;
	width: 40px;
	height: 40px;
	background: url(../images/save.png) 0 -50px no-repeat;
}


/*PROGESS BAR CSS*/

/*Progess bar*/
.progress{
	width: 100%;
	height: 10px;
	position: relative;
	float: left;
	cursor: pointer;
	background: rgba(255,255,255, 0.3);
}
.progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
}
.timeBar{
	z-index:10;
	width:0;
	background: #82d344;
	background: -webkit-linear-gradient(top, #82d344 0%, #51af34 100%);
	background: -moz-linear-gradient(top, #82d344 0%, #51af34 100%);
	background: -o-linear-gradient(top, #82d344 0%, #51af34 100%);
	background: -ms-linear-gradient(top, #82d344 0%, #51af34 100%);
	background: linear-gradient(top, #82d344 0%, #51af34 100%);
}
.progress .time_handle {
	position: absolute;
	cursor: pointer;
	width: 16px;
	height: 18px;
	top: -3px;
	z-index: 99;
	background: url(../images/handle.png);
}
.progress .time_tip{
	position: absolute;
	top:-30px;
	left:0;
	width: 40px;
	height: 18px;
	line-height: 18px;
	background: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666;
	text-align: center;
	display: none;
}
.progress .time_tip:after{
	content:"";
	width: 0px;
	height: 0px;
	margin:10px auto;
	position: absolute;
	top:8px;
	left: 12px;
	border-color:#FFF transparent transparent transparent;
	border-style: solid;
	border-width: 6px;
}
.bufferBar{
	z-index: 5;
	width: 0;
	background: rgba(36, 36, 44, 0.5);
}

/*time and duration*/
.time{
	float: left;
	width: 100px;
	font-family: "microsoft yahei";
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-left: solid 1px #686262;
}

/*VOLUME BAR CSS*/
/*volume bar*/
.volume{
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 100px;
	float: right;
	bottom: 50px;
	left: 15px;
	z-index: 21121000;
	background: rgba(39, 34, 34, 0.6);
	padding:4px 0;
}
.volume:after{
	content: "";
	width: 0;
	height: 0;
	border-color:rgba(39, 34, 34, 0.6) transparent transparent transparent;
	border-style:solid;
	border-width:10px;
	position: absolute;
	top: 108px;
	left: 0px;
}
.volume_wrap {
	float: left;
	position: relative;
	height: 90%;
	width: 12px;
	margin: 4px;
	border-radius: 4px;
	background: rgba(0,0,0,0.6);
	overflow: hidden;
}
.volume:hover{
	cursor: pointer;
}
.volumeBar{
	display: block;
	width: 12px;
	position: absolute;
	bottom:0;
	left: 0;
	background: #3FB7FC;
	border-radius: 4px;
	z-index: 21121;
	cursor: pointer;
}

/*OTHER CSS*/

/*video screen cover*/
#init{
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%; 
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -60px;
	z-index: 10001;
	-webkit-transition:0.6s;
	transition:0.6s;
}
/*#init:hover{
	background-color: rgba(0,0,0,0.6);
}*/
.init_start{
	position: relative;
	width: 100px;
	height: 100px;
	margin:10px;
	background: url(../images/play.png) no-repeat; 
	cursor: pointer;
}
.init_start:hover{
	background: url(../images/play_hover.png) no-repeat; 
}


.loading{
	position: absolute;
	top:100px;
	left: 400px;
	width: 70px;
	height: 70px;
	padding:16px;
	background: rgba(0,0,0,0.4);
	border-radius: 50%;
	z-index: 2;
	display: none;
}

.loading .dot {
  position: absolute;
  opacity: 0;
  width: 64px;
  height: 64px;
  margin:3px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation-name: loading;
  -moz-animation-name: loading;
  -ms-animation-name: loading;
  -o-animation-name: loading;
  animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -o-animation-duration: 5.28s;
  -moz-animation-duration: 5.28s;
  -webkit-animation-duration: 5.28s;
  animation-duration: 5.28s;
}
.loading .dot:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
}
.loading .dot:nth-child(2) {
  -webkit-animation-delay: .23s;
  -moz-animation-delay: .23s;
  -ms-animation-delay: .23s;
  -o-animation-delay: .23s;
  animation-delay: .23s;
}
.loading .dot:nth-child(3) {
  -webkit-animation-delay: .46s;
  -moz-animation-delay: .46s;
  -ms-animation-delay: .46s;
  -o-animation-delay: .46s;
  animation-delay: .46s;
}
.loading .dot:nth-child(4) {
  -webkit-animation-delay: .69s;
  -moz-animation-delay: .69s;
  -ms-animation-delay: .69s;
  -o-animation-delay: .69s;
  animation-delay: .69s;
}
.loading .dot:nth-child(5) {
  -webkit-animation-delay: .92s;
  -moz-animation-delay: .92s;
  -ms-animation-delay: .92s;
  -o-animation-delay: .92s;
  animation-delay: .92s;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  8% {
    -webkit-transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
  }
  30% {
    -webkit-transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
  }
  60% {
    -webkit-transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(965deg);
    -webkit-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(225deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  8% {
    -moz-transform: rotate(345deg);
    -moz-animation-timing-function: linear;
  }
  30% {
    -moz-transform: rotate(455deg);
    -moz-animation-timing-function: ease-in-out;
  }
  40% {
    -moz-transform: rotate(690deg);
    -moz-animation-timing-function: linear;
  }
  60% {
    -moz-transform: rotate(815deg);
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  75% {
    -moz-transform: rotate(965deg);
    -moz-animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  8% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  60% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(965deg);
    animation-timing-function: ease-out;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/*prev_next*/
.video_prev{
	position: absolute;
	top:160px;
	left:100px;
	width: 30px;
	height: 51px;
	margin: 8px 0;
	background: url(../images/video_prev.png) no-repeat 0 0;
	cursor: pointer;
/*	z-index: 11118;*/
}
.video_next{
	position: absolute;
	top:160px;
	right:100px;
	width: 30px;
	height: 51px;
	margin: 8px 0;
	background: url(../images/video_next.png) no-repeat 0 0;
	cursor: pointer;
	
}
.video_next:hover:after{
	opacity: 0;
}
.video_next:after {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	position: absolute;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -1px;
	z-index: 2;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 10px 5px rgba(255,255,255,0.5), 0 0 20px 10px rgba(255,255,255,0.5), 0 0 30px 15px rgba(255,255,255,0.4), 0 0 40px 20px rgba(255,255,255,0.3), 0 0 50px 25px rgba(255,255,255,0.3), 0 0 60px 30px rgba(255,255,255,0.3), 0 0 70px 35px rgba(255,255,255,0.3);
}

.video_prev:hover::after{
	opacity: 0;
}
.video_prev::after {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	position: absolute;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -1px;
	z-index: 2;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5), 0 0 20px 10px rgba(255, 255, 255, 0.5), 0 0 30px 15px rgba(255, 255, 255, 0.4), 0 0 40px 20px rgba(255, 255, 255, 0.3), 0 0 50px 25px rgba(255, 255, 255, 0.3), 0 0 60px 30px rgba(255, 255, 255, 0.3), 0 0 70px 35px rgba(255, 255, 255, 0.3);
}
